<div>
	<EditForm OnValidSubmit="@OnValidTransfert"
			  Model="@TransfertRackValidation">
		<RadzenCard>
			@* Super IMPORTANT !!! *@
			<DataAnnotationsValidator />

			<div class="row">

				<div class="col-xl-4">

					<h4>Déplacer</h4>
					<span>Déplacer une palette d'un rack  vers un rack vide.</span>

					<SelectRack Racks="@RackFull"
								Gisement="@TransfertRackValidation.GisementRackPartant"
								OnSelectedRack="@SelectRackPartant"
								PlaceHolder="Choisir un rack occupé"
								GisementSelected="@TransfertRackValidation.GisementRackPartant" />

					<SelectRack Racks="@RackEmpty"
								Gisement="@TransfertRackValidation.GisementRackArrivant"
								OnSelectedRack="@SelectRackArrivant"
								PlaceHolder="Choisir un rack vide"
								GisementSelected="@TransfertRackValidation.GisementRackArrivant" />

				</div>

				<div class="col-xl-3">
					@if (TransfertRackValidation.IdRackPartant != 0)
					{
						<div>
							Palette sélectionnée :
						</div>
						<div>
							<div>
								<span><u>Client</u> : @ClientTransfert.NomClient</span>
							</div>
							<div>
								<span><u>Commande</u> : @ClientTransfert.IdCommande</span>
							</div>
							<div>
								<span><u>Info</u> : @ClientTransfert.DescriptionCmd</span>
							</div>
						</div>
					}
				</div>
			</div>

			<span class="margin-10px">
				<button type="submit" class="padding-5">Transférer</button>

				<button type="reset"
						class="padding-5"
						@onclick="CloseTransfert">
					Terminer
				</button>
			</span>
		</RadzenCard>
	</EditForm>
</div>

@code {

	[Parameter]
	public EventCallback OnValidTransfert { get; set; }

	[Parameter]
	public TransfertRackValidation TransfertRackValidation { get; set; }

	[Parameter]
	public IEnumerable<Rack> RackFull { get; set; }

	[Parameter]
	public IEnumerable<Rack> RackEmpty { get; set; }

	[Parameter]
	public EventCallback CloseTransfert { get; set; }

	[Parameter]
	public CommandeView ClientTransfert { get; set; }

	[Parameter]
	public EventCallback<string> SelectRackArrivant { get; set; }

	[Parameter]
	public EventCallback<string> SelectRackPartant { get; set; }


}
