@inject ICommandeViewModel ViewModel

<h3>Gestion des commandes</h3>

@if (ViewModel.IsLoaded)
{
	<div>
		<div class="padding-10">
			@if (!ViewModel.DialogIsOpenNewCommande)
			{
				<RadzenButton Text="Nouvelle commande"
							  Icon="add_circle"
							  ButtonStyle="ButtonStyle.Secondary"
							  Click="ViewModel.OpenNewCommande" />
			}
			else
			{
				<div class="col-xl-6">
					<EditForm OnValidSubmit="@ViewModel.OnValidSubmit"
							  Model="@ViewModel.NouvelleCommande">
						<RadzenCard>
							@* Super IMPORTANT !!! *@
							<DataAnnotationsValidator />

							<div class="margin-5px">
								<div>
									<ValidationMessage For="@(() => ViewModel.NouvelleCommande.IdCommande)" />
								</div>
								<RadzenNumeric ShowUpDown="false" 
												TValue="int?"
												@bind-Value=@ViewModel.NouvelleCommande.IdCommande 
												Placeholder="Numéro de commande"
												Style="width 300px"/>
							</div>

							<div class="margin-5px">
								<div>
									<ValidationMessage For="@(() => ViewModel.NouvelleCommande.IdClient)" />
								</div>
								<RadzenAutoComplete Placeholder="Choisir un client..."
													Data=@ViewModel.AllClients
													TextProperty="NomClient"
													Change=@(args => ViewModel.OnSelectClient(args)) />
							</div>

							<div class="margin-5px">
								<div>
									<ValidationMessage For="@(() => ViewModel.NouvelleCommande.DescriptionCmd)" />
								</div>
								<RadzenTextBox Placeholder="Description..."
											   @bind-Value="ViewModel.NouvelleCommande.DescriptionCmd"
											   Style="width 300px" />
							</div>
						</RadzenCard>

						<span class="margin-10px">
							<button type="submit" class="padding-5">Ajouter</button>

							<button type="reset"
									class="padding-5"
									@onclick="ViewModel.CloseNouvelleCommande">
								Terminer
							</button>
						</span>
					</EditForm>
				</div>
			}
		</div>
	</div>

	@*Pour voir la liste des salles*@
	<div class="col-6">
		<RadzenGrid AllowFiltering="true"
					FilterCaseSensitivity="FilterCaseSensitivity.Default"
					AllowPaging="true"
					PageSize="30"
					AllowSorting="true"
					Data="@ViewModel.AllCommandes"
					TItem="CommandeView"
					EmptyText="Aucune commande"
					@ref="ViewModel.CommandeGrid">
			<Columns>
				<RadzenGridColumn TItem="CommandeView"
								  Property="IdCommande"
								  Title="Numéro commande"
								  Width="150px" />

				<RadzenGridColumn TItem="CommandeView"
								  Property="IdClient"
								  Title="Numéro client"
								  Width="150px" />

				<RadzenGridColumn TItem="CommandeView"
								  Property="NomClient"
								  Title="Client"
								  Width="150px" />

				<RadzenGridColumn TItem="CommandeView"
								  Property="DescriptionCmd"
								  Title="Description" />
			</Columns>
		</RadzenGrid>
	</div>
}
else
{
	<div>Chargement en cours ...</div>
}
