<div>
	<EditForm OnValidSubmit="@OnValidSubmitInvertion"
			  Model="@InversionPaletteValidation">
		<RadzenCard>
			@* Super IMPORTANT !!! *@
			<DataAnnotationsValidator />

			<div class="row">

				<div class="col-xl-3">
					<h4>Inversion de palettes</h4>

					<div>Permet d'intervertir 2 palettes.</div>

					<SelectRack Racks="@RackFull"
								Gisement="@InversionPaletteValidation.GisementRackPartant"
								OnSelectedRack="@SelectRackPartant"
								PlaceHolder="Choisir rack occupé"
								GisementSelected="@InversionPaletteValidation.GisementRackPartant" />


					<SelectRack Racks="@RackFull"
								Gisement="@InversionPaletteValidation.GisementRackArrivant"
								OnSelectedRack="@SelectRackArrivant"
								PlaceHolder="Choisir rack occupé"
								GisementSelected="@InversionPaletteValidation.GisementRackArrivant" />
				</div>
			</div>

			<span class="margin-10px">
				<button type="submit" class="padding-5">Transférer</button>

				<button type="reset"
						class="padding-5"
						@onclick="CloseInvertion">
					Terminer
				</button>
			</span>
		</RadzenCard>
	</EditForm>
</div>

@code {

	[Parameter]
	public EventCallback OnValidSubmitInvertion { get; set; }

	[Parameter]
	public EventCallback CloseInvertion { get; set; }

	[Parameter]
	public InversionPaletteValidation InversionPaletteValidation { get; set; }

	[Parameter]
	public IEnumerable<Rack> RackFull { get; set; }

	[Parameter]
	public EventCallback<string> SelectRackArrivant { get; set; }

	[Parameter]
	public EventCallback<string> SelectRackPartant { get; set; }

}
